extends layout

block locals
  - sidebar = true

block body
  #cartoons-image-container
    a( href='' )
      #cartoons-image( style='background-image: url("/cartoons/' + source + '")' )
    a#cartoons-image-link( href='http://butsneeriouslyguys.tumblr.com/' ) See all cartoons