extends layout

block locals
  - sidebar = true

block body
  #cartoons-image-container.sidebar-padding
    a#cartoons-image-link-container( href='')
      img#cartoons-image( src="/cartoons/#{source}" )
      small Click for another image
    br
    a#cartoons-image-link( href='http://butsneeriouslyguys.tumblr.com/' target="_blank"  ) See all cartoons