extends layout

block body
  h1#index-title
    img( src='/images/title.png' alt='Ghost Buffalo' )
  img#ghost-buffalo( src='images/ghost-buffalo.png' alt='Ghost Buffalo Avatar' )
  nav#index-buttons
    include buttons.jade
  footer Weird things by Matt Russel, internet magic by Craig Spaeth