extends layout

block body
  h1#index-title
    img( src='/images/title.png' alt='Ghost Buffalo' )
  img#ghost-buffalo( src='images/ghost-buffalo.png' alt='Ghost Buffalo Avatar' )
  nav#index-buttons
    a.wood-button( href='/cartoons' ) Cartoons
    a.wood-button( href='/animations' ) Animations
    a.wood-button.wood-button-small-text Interactive Cartoons