extends layout

block body
  h1#index-title
    img( src='images/title.png' alt='Ghost Buffalo' )
  img#ghost-buffalo( src='images/ghost-buffalo.png' alt='Ghost Buffalo Avatar' )
  nav#index-buttons
    a.wood-button Cartoons
    a.wood-button Animations
    a.wood-button.wood-button-small-text Interactive Cartoons