block locals
  - sidebar = false

doctype html
html( lang="en" )
  head
    title Ghost Buffalo
    link( type='text/css' rel='stylesheet' href='/index.css' )
  body
    if sidebar
      nav#sidebar
        a( href='/' )
          img( src='/images/title.png' alt='Ghost Buffalo' )
        include buttons
    #layout-container
      block body
    footer#layout-footer
      | Weird things by Matt Russell, internet magic by Craig Spaeth
      br
      | Copyright © #{new Date().getFullYear()} Matt Russell. All rights reserved.
    include ga.html