block locals
  - sidebar = false

doctype html
html( lang="en" )
  head
    title Ghost Buffalo
    link( type='text/css' rel='stylesheet' href='/index.css' )
  body
    if sidebar
      nav#sidebar
        a( href='/' )
          img( src='/images/title.png' alt='Ghost Buffalo' )
        a.wood-button( href='/cartoons' ) Cartoons
        a.wood-button Animations
        a.wood-button.wood-button-small-text Interactive Cartoons
    #layout-container
      block body