html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: Cracked, Courier, serif;
}
a {
  color: #000;
  text-decoration: none;
}
#layout-container {
  background: url("images/bg.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  min-height: 100%;
}
#index-title img {
  width: 50%;
  margin: 30px 0 60px 30px;
}
#ghost-buffalo {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 90%;
}
.wood-button {
  background: url("images/button.png") no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  width: 250px;
  display: block;
  font-size: 70px;
  font-family: Cracked, Courier, serif;
  height: 80px;
  text-align: center;
  margin-bottom: 10px;
  padding: 5px 0;
  cursor: pointer;
}
#index-buttons {
  margin-left: 30px;
}
#index-buttons .wood-button:nth-child(2) {
  margin-left: 10%;
}
#index-buttons .wood-button:nth-child(3) {
  margin-left: 20%;
}
.wood-button-small-text {
  font-size: 42px;
  line-height: 0.7em;
  padding-top: 13px;
  letter-spacing: 6px;
}
#cartoons-image-container {
  text-align: center;
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 20px;
}
#cartoons-image {
  background: top center no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  height: 80%;
  margin-bottom: 20px;
}
#cartoons-image-link {
  font-weight: bold;
  font-size: 42px;
  border-bottom: 3px solid;
}
#sidebar {
  width: 130px;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 2;
}
#sidebar a,
#sidebar img {
  max-width: 100%;
}
#sidebar .wood-button {
  height: 60px;
  width: 170px;
  font-size: 36px;
  padding: 10px 0;
}
#sidebar .wood-button-small-text {
  font-size: 22px;
  padding: 15px 0;
  letter-spacing: 3px;
}
#sidebar a:first-child {
  margin-bottom: 10px;
  width: 170px;
  display: block;
}
#sidebar a:first-child img {
  width: 100%;
}
.sidebar-padding {
  padding-left: 180px;
}
#animations {
  background: #dffffe;
  width: 590px;
  margin: auto;
  text-align: center;
}
#animations li {
  display: inline-block;
  padding: 50px 0;
}
#animations li:first-child {
  padding-top: 20px;
}
