@import '../node_modules/nib'

global-reset()

*
  box-sizing border-box

html, body
  height 100%
  font-family Cracked, Courier, serif

a
  color black
  text-decoration none

#layout-container
  background url('images/bg.jpg')
  background-size cover
  min-height 100%

#index-title img
  width 50%
  margin 30px 0 60px 30px

#ghost-buffalo
  position absolute
  top 20px
  right 20px
  height 90%

.wood-button
  background url('images/button.png') no-repeat center center
  background-size contain
  width 250px
  display block
  font-size 70px
  font-family Cracked, Courier, serif
  height 80px
  text-align center
  margin-bottom 10px
  padding 5px 0
  cursor pointer

#index-buttons
  margin-left 30px
  .wood-button:nth-child(2)
    margin-left 10%
  .wood-button:nth-child(3)
    margin-left 20%

.wood-button-small-text
  font-size 42px
  line-height 0.7em
  padding-top 13px
  letter-spacing 6px

#cartoons-image-container
  text-align center
  height 100%
  width 100%
  position absolute
  padding 20px

#cartoons-image
  background top center no-repeat
  background-size contain
  height 80%
  margin-bottom 20px

#cartoons-image-link
  font-weight bold
  font-size 42px
  border-bottom 3px solid

#sidebar
  width 130px
  position fixed
  top 20px
  left 20px
  z-index 2
  a, img
    max-width 100%
  .wood-button
    height 60px
    width 170px
    font-size 36px
    padding 10px 0
  .wood-button-small-text
    font-size 22px
    padding 15px 0
    letter-spacing 3px
  a:first-child
    margin-bottom 10px
    width 170px
    display block
    img
      width 100%

.sidebar-padding
  padding-left 180px !important

#animations
  background #DFFFFE
  width 590px
  margin auto
  text-align center
  li
    display inline-block
    padding 50px 0
    &:first-child
      padding-top 20px